
# The "SSH bastion host"
Host wally134
  Hostname wally134.cit.tu-berlin.de
  IdentityFile ~/.ssh/id_cit
  ControlMaster auto
  ControlPath /home/anton/software/testbed-scenarios/VideoServer/Ansible/ssh/socket-%r@%h:%p
  ControlPersist 10m

# VMs
Host 10.0.33.*
  ProxyCommand ssh -W %h:%p wally134

